@media screen and (max-width:1200px) {
    .main-container{
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .sidebar{
        position: static;
        height: auto;
    }
}

@media screen and (max-width:750px) {
    .project-container{
        grid-template-columns: 1fr;
    }

    #navigation nav {
        /* Adjust nav for smaller screens */
        justify-content: center;
        flex-wrap: wrap;
    }

    .sidebar{
        display: flex;
        justify-content: center;
        gap: 40px;
    }
}

html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
}
body{
    background-color: #121212;
    font-family: sans-serif;
    color: #a0a0a0;
    line-height: 1.6;
}
.main-container{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr ;
    gap: 50px;
    padding-top: 40px;
    margin: auto;
}
.side-bar{
    position: sticky;
    top: 40px;
    background-color: #262626;
    height: 90vh;
    border: 1px solid #313131;
    border-radius: 16px;
    padding: 40px;
}
.main-content{
    background-color: #262626;
    border: 1px solid #313131;
    border-radius: 16px;
    padding-left: 35px;
    padding-right: 35px; 
}
.profile{
    text-align: center;
}
.profile img{
    height: 125px;
    width: 120px;
    border:1px solid #3a3a3a;
    border-radius: 50%;
    object-fit: fill;
}
.profile h2{
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: 10px;
    color:#e0e0e0;
    margin-left: 4px;
}
.profile p{
margin-top: 3px;
background-color: #1e1e1e;
text-align: center;
padding: 5px 15px;
color: #FFBF00;
border: 1px solid #3a3a3a;
font-size: 0.8rem;
border-radius: 8px;
display: inline-block;
}
.contact{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 30px;
}
.label{
    font-weight: 500;
    font-size: 0.8rem;
    color: #a0a0a0
}
.info{
    color: #e0e0e0;
    text-decoration: none;
}
.email,.phone{
    margin-bottom: 15px;
}
.social{
    margin-top: 30px;
    padding-top: 30px;
    text-align: center;
    border-top: 2px solid #3a3a3a;
}
.iconimg{
    width: 30px;
    height: 30px;
    margin: 5px;
    filter: grayscale(1) invert(0.7);
    transition:filter 0.3s ease;
}
.iconimg:hover{
    filter: grayscale(0) invert(0);
}
/* Main Content*/
.navigation{
    padding: 30px 15px;
    border-bottom: 2px solid #3a3a3a;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 40px;
}
nav{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
nav a{
    text-decoration: none;
    color:#a0a0a0;
    font-weight: 500;
    transition: color 0.3s ease;
    font-size: medium;
}
.about_color,nav a:hover{
    color:#FFBF00;
}
.heading{
    color: #e0e0e0;
    font-size: 1.8rem;
    margin-bottom: 15px;
    margin-top: 30px;
}
.line{
    width: 60px;
    height: 5px;
    background-color: #FFBF00;
    margin-bottom: 20px;
}
.content{
    text-align: justify;

}
.grid-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(120px,1fr));
    gap: 30px;
}
.item{
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #3a3a3a;
    text-align: center;
    background-color: #1e1e1e;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.item img{
    height: 48px;
    width: 48px; 
    margin-bottom: 15px;
    filter:invert(75%) sepia(50%) saturate(1000%) hue-rotate(350deg) brightness(110%);
}
.item h3{
    font-size: 1rem;
    font-weight: 500;
}
.item:hover{
    transform:scale(1.1);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}
.certificate_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-top: 20px;
}
.certificates{
    margin-top: 10px;
    border-radius: 12px;
    border: 2px solid #3a3a3a;
    background-color: #1e1e1e;
    overflow: hidden;
    transition: transform 0.5s ease, boxshadow 0.5s ease;
}
.certificates:hover{
    transform: translateY(-10px);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}
.certificates img{
    height: 240px;
    width: 100%;
    overflow: hidden;
    display: block;
    object-fit:fill;
}
.certi_card{
    padding:20px;
}
.certi_card span{
     font-style: italic;
    color: #a0a0a0;
    display: flex;
    
}
.edtech{
    position: relative;
    margin-top: 30px;
}
.year{
    font-size: 0.9rem;
    color: #a0a0a0;
    margin-bottom: 5px;
}
.degree{
    color: #e0e0e0;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}
.college{
    font-style: italic;
    color: #a0a0a0;
    margin-bottom: 10px;
}
.descript{
    color: #a0a0a0;
}
.edfirst{
    margin-bottom: 15px;
    padding-left: 25px;
    position: relative;
}
.edsecond{
    margin-bottom: 15px;
    padding-left: 25px;
    position: relative;
}
.edthird{
    position: relative;
     padding-left: 25px;
}
.goal{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid #FFBF00;
    position: absolute;
    top: 4px;
    left: 0px;
    z-index: 5;
}
.liner{
    position: absolute;
    width: 2px;
    top: 4px;
    bottom: 0px;
    left: 6px;
    border: 2px dashed #3a3a3a;
}
.projects-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-top: 40px;
}
.project{
    background-color: #1e1e1e;
    border-radius: 12px;
    border: 1px solid #3a3a3a;
    overflow: hidden;
    transition: transform 0.5s ease, boxshadow 0.5s ease;

}
.project img{
    height: 180px;
    width: 100%;
    object-fit: cover; 
}
.card{
    padding: 20px; 
}
.card p{
    color: #a0a0a0;
    line-height: 1.6;
    text-align: start;
    margin-bottom: 20px;
}
.card span{
background-color: rgba(255, 191, 0, 0.1);
color: #FFBF00;
padding: 4px 8px;
border-radius: 5px;
font-size: 0.75rem;
margin-right: 5px;
}
.project:hover{
    transform: translateY(-10px);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

